<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Period Tracker - Home</title>
  
  <link rel="style" href="/static/style.css" />
  
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>

  <nav class="top-nav">
    <img src="{{ url_for('static', filename='logo.PNG') }}" width="90" alt="Her track logo" style="margin: 5px 20px 5px 20px;" >
  </nav>

    <div class="circle">
      <p class="Period_in">Period in</p>
      <h3 class="days">3 days</h3>
      <p class="date">Period may start 28th June</p>
    </div>

<div class="button-group">
    <button class="start-btn">Log Period</button>
    <div class="button-card">
      <p class="self-assessment">Daily Health Log</p>
      <p class="self-assessment2">บันทึกอาการทุกวัน! เพื่อดูรูปแบบเฉพาะตัว</p><p class="self-assessment2">และมีข้อมูลพร้อมปรึกษาแพทย์</p>
      
      <a href="/dashboard" class="from-btn">Check your symptoms</a> 
    </div>
</div>

    </div>

  <nav class="bottom-nav">
    <a href="/" class="active">Home</a>
    <a href="#">Tracker</a>
    <a href="#">Profile</a>
  </nav>

</body>
</html>